node_modules/
.pnp.cjs
.pnp.loader.mjs
.turbo/
dist/
build/
.next/
coverage/
.env
.env.*
!.env.example
infra/env/.env
infra/env/.env.*
!.env.example
apps/**/.env
Dockerfile.local
pnpm-debug.log*
*.log
.idea/
.vscode/
.DS_Store
